.section{
position: relative;
margin: 0;
img{
    // position: relative;
    // bottom: 80px;
    // object-fit: fill;
    // width: 98.7vw;
    // overflow: hidden;
    justify-content: center;
    
}
}
/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 1px; /* Adjust the width as needed */
  }
  
  /* Track */
  .element::-webkit-scrollbar-track {
    background-color: #d90000;
  }
  
  /* Handle */
  .element::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px; /* Rounded corners for the handle */
  }
  
  /* Handle on hover */
  .element::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  /* Firefox scrollbar */
  .element {
    scrollbar-width: 2px; /* Adjust the width as needed */
    scrollbar-color: #888 #f1f1f1; /* Handle and track colors */
  }
  